@{
    ViewBag.Title = "About";
}

<p></p>
<div class="jumbotron">
    <h1>Twitter Fashion Analyzer</h1>
    <p class="lead">Twitter Fashion Analyzer is an online tool for listening to tweets with specific hashtags, once a tweet has been made if it contains a picture it's passed to Azure's Face Api to determine if there is and how many faces there are in a picture the age and gender.</p>
    <p><a href="https://github.com/Nesox/TwitterFashionAnalyzer" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cloud"></span> Hosted at GitHub</a></p>
</div>