@{
    ViewBag.Title = "Home Page";
}
<p>&nbsp;</p>

<div class="jumbotron">
    <h1>Twitter Fashion Analyzer</h1>
    <p class="lead">Twitter Fashion Analyzer is an online tool for listening to tweets with specific hashtags, once a tweet has been made if it contains a picture it's passed to Azure's Face Api to determine if there is and how many faces there are in a picture and the age and gender.</p>
</div>

<span id="streamStatus" class="label label-success"></span>
<div class="btn-group">
    <button id="startStream" class="btn btn-success">
        <span class="glyphicon glyphicon-play"></span> Start Stream
    </button>
    <button id="stopStream" class="btn btn-danger">
        <span class="glyphicon glyphicon-stop"></span> Stop Stream
    </button>
</div>

<div class="container-fluid">
    <div class="row tweets">

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/twitterLive.js"></script>
}

